.navButton{ 
    display: flex;
    align-items: center;
    border-radius: calc(var(--space) * 10);
    text-decoration: none;
}
.title{
    font-size: calc(var(--space) * 4);
    line-height: calc(var(--space) * 6);
    color: var(--text-dark-grey);
}
.active{
    color: var(--text-primary-light);
}