.burgerConstructor{
    width: 50%;
}
.list{
    display: grid;
    row-gap: calc(var(--space) * 4);
    list-style-type: none;
    padding-left: 0;
}
.listItem{
    display: flex;
    align-items: center;
    justify-content: end;
}
.settings{
    width: calc(var(--space) * 8);
    display: flex;
    align-items: center;
}