.orderDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(var(--space) * 130);
}
.orderDetails * {
    text-align: center;
}
.num{
    text-shadow: 0 0 20px var(--blur);
}
.text{
    margin-bottom: 0;
}
.image{
    max-width: calc(var(--space) * 30);
    margin: calc(var(--space) * 15) auto calc(var(--space) * 15);
}