.orderBlock {
    list-style-type: none;
    border-radius: calc(var(--space) * 10);
    background-color: var(--header-background);
    padding: calc(var(--space) * 6);
}
.meta {
    display: flex;
    justify-content: space-between;
}
.date{
    color: var(--text-dark-grey);
}
.title {
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.status{

}
.statusDone{
    color: var(--light-green)
}
.priceBlock{
    display: flex;
    column-gap: 9px;
}
.priceBlock svg {
    fill: white;
}
.icons{
    display: flex;
    padding-left: 0;
    list-style-type: none;
}