.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: calc(var(--space) * 180);
    box-sizing: border-box;
    background-color: var(--header-background);
    border-radius: calc(var(--space) * 10);
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    z-index: 10;
}
.modal svg{
    cursor: pointer;
}
.close{
    position: absolute;
    top: calc(var(--space) * 15);
    right: calc(var(--space) * 10);
}