.ingredientDetails{
    width: 100%;
    max-width: calc(var(--space) * 129);
    display: flex;
    flex-direction: column;
}
.image{
    justify-self: center;
}
.name{
    text-align: center;
}
.nutritionFacts{
    display: flex;
    column-gap: calc(var(--space) * 5);
}