html{
  height: 100%;
}

body {
  --space: 4px;
  /* Width */
  --max-width-desktop: 1920px;
  --max-header-width-desktop: 1280px;
  --max-content-width-desktop: 1240px;
  /* Background*/
  --main-background: #131316;
  --header-background: #1C1C21;
  /* Text */
  --text-main-white: #ffffff;
  --text-primary-light : #f2f2f3;
  --text-dark-grey: #8585AD;
  /* Other colors */
  --input-color: #2F2F37;
  --blur: #4c4cff;

  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
