.itemCart{
    position: relative;
    cursor: pointer;
}
.itemCartContainer{
    display: grid;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.price{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
}
.name{
    display: block;
    height: calc(var(--space) * 12);
    text-align: center;
}
.image{
    margin: 0 auto;
}