.burgerIngredients{
    width: 50%;    
}
.ingredients{
    max-height: 66.2963vh;
    display: grid;
    row-gap: calc(var(--space) * 10);    
    overflow: auto;
    scrollbar-width: thin;
}
.ingredients::-webkit-scrollbar {
    width: calc(var(--space) * 2);
}    
.ingredients::-webkit-scrollbar-track {
    background-color: var(--input-color);
}
.ingredients::-webkit-scrollbar-thumb {
    background-color: var(--text-dark-grey);
}
.ingredientsList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--space) * 6);
    row-gap: calc(var(--space) * 8);
    list-style-type: none;
}