.appHeader{   
    max-width: var(--max-width-desktop);
    background-color: var(--header-background);
    margin: calc(var(--space) * 10) auto 0;
}
.appHeaderContainer{
    width: 100%;
    max-width: var(--max-header-width-desktop);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}