.appHeader{   
    max-width: var(--max-width-desktop);
    background-color: var(--header-background);
    margin: 0 auto;
}
.appHeaderContainer{
    width: 100%;
    max-width: var(--max-header-width-desktop);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.logo{
    width: fit-content;
    position:absolute;
    left: 0;
    right: 0;
    margin:auto;
}